In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
        
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns; sns.set()
%matplotlib inline


from sklearn.tree import DecisionTreeClassifier


from imblearn.pipeline import make_pipeline, Pipeline
from imblearn.over_sampling import SMOTE

from mlxtend.plotting import plot_decision_regions
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import KBinsDiscretizer, FunctionTransformer
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import MinMaxScaler
from category_encoders import WOEEncoder
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, balanced_accuracy_score, roc_auc_score
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier


from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.preprocessing import MinMaxScaler, KBinsDiscretizer, FunctionTransformer
from category_encoders import OneHotEncoder

from mlxtend.evaluate import feature_importance_permutation
from sklearn.model_selection import train_test_split

from mlxtend.feature_extraction import PrincipalComponentAnalysis
from mlxtend.preprocessing import standardize

#from mlxtend.plotting import plot_pca_correlation_graph


from mlxtend.plotting import plot_decision_regions
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import KBinsDiscretizer, FunctionTransformer
from sklearn.model_selection import cross_val_score

from sklearn.pipeline import make_pipeline, Pipeline

import joypy

from mlxtend.evaluate import feature_importance_permutation
#from lofo import LOFOImportance, Dataset, plot_importance
from sklearn.model_selection import train_test_split, StratifiedKFold


import warnings
warnings.filterwarnings("ignore")
# Any results you write to the current directory are saved as output.

Using TensorFlow backend.

## Problem Statement

**Retail company “ABC Private Limited” wants to understand the customer purchase behaviour (specifically, purchase amount) against various products of different categories. They have shared purchase summary of various customers for selected high volume products from last month.
The data set also contains customer demographics (age, gender, marital status, city_type, stay_in_current_city), product details (product_id and product category) and Total purchase_amount from last month**

**Now, they want to build a model to predict the purchase amount of customer against various products which will help them to create personalized offer for customers against different products**

**Your model performance will be evaluated on the basis of your prediction of the purchase amount for the test data (test.csv), which contains similar data-points as train except for their purchase amount. Your submission needs to be in the format as shown in "SampleSubmission.csv".**

**We at our end, have the actual purchase amount for the test dataset, against which your predictions will be evaluated. Submissions are scored on the root mean squared error (RMSE). RMSE is very common and is a suitable general-purpose error metric. Compared to the Mean Absolute Error, RMSE punishes large errors:**

## Import and Read Files

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
#might be worthwhile to consolidate some of these groupings 
train["Age"].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [25]:
#User IDs aren't all clustered together
(train['User_ID'] == 1000001).value_counts()

False    550033
True         35
Name: User_ID, dtype: int64

In [28]:
#spend per customer
train.groupby('User_ID')['Purchase'].sum().sort_values()

User_ID
1004464       46681
1000094       49288
1003883       49349
1005117       49668
1004991       52371
1005944       53996
1002111       54536
1003291       55372
1003275       55960
1004636       57805
1000708       58625
1002696       59105
1005391       60182
1000572       60789
1005608       61628
1002135       61738
1003068       61972
1002488       62250
1004178       62753
1000947       62826
1005012       63924
1005274       64442
1001102       64520
1000986       64636
1004749       64640
1000395       65645
1004839       66471
1001730       67010
1002431       67063
1001993       67394
             ...
1004508     5129726
1001448     5136424
1004510     5150373
1003808     5153215
1002304     5157638
1002063     5167421
1000524     5212846
1000550     5327601
1005795     5464535
1000889     5499872
1001980     5549865
1001088     5628655
1003224     5673106
1004344     5733683
1001285     5805379
1003618     5962012
1003841     6044415
1003032     6126540
1003539     6187094
1000549     6310723
1001181     6387961
1003391     6477160
1001015     6511314
1005831     6512433
1004448     6566245
1000424     6573609
1001941     6817493
1002909     7577756
1001680     8699596
1004277    10536909
Name: Purchase, Length: 5891, dtype: int64

In [40]:
#Wanted to do max or min too but it is detecting other columns as well -- probably not doing it right
train[['Gender','Age','Purchase']].groupby(['Age', 'Gender']).agg(['mean'])

                 Purchase
                     mean
Age   Gender
0-17  F       8338.771985
      M       9235.173670
18-25 F       8343.180201
      M       9440.942971
26-35 F       8728.251754
      M       9410.337578
36-45 F       8959.844056
      M       9453.193643
46-50 F       8842.098947
      M       9357.471509
51-55 F       9042.449666
      M       9705.094802
55+   F       9007.036199
      M       9438.195603